__pycache__
.pytest_cache
.venv
old
QRData
matmcd
graph.dot
tmp.json
full_response.txt
causal-llm-bfs
notes
cache
utils/profiler.py
utils/toggle_profiler.ps1
notes.txt
results/tmp.jsonl
results/tmp2.jsonl
tools/independence_test.py
llama_server_no_discovery_original.py
results/logs
results/matt-results
results/Qwen3-32B-UD-Q5_K_XL-POT-OLD.jsonl
results/*-Num.jsonl
results/*-MC.jsonl