__pycache__
.pytest_cache
.venv
old
QRData
matmcd
graph.dot
tmp.json
full_response.txt
causal-llm-bfs
notes
cache
utils/profiler.py
utils/toggle_profiler.ps1
notes.txt
results/tmp.jsonl
results/tmp2.jsonl